.button {
  border: none;
  outline: none;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.primary-button {
    background-color: red;
    color: white;
  }


  &:active {
    scale: 0.95;
  }
}
