.profile-page {
  .profile-details {
    max-width: 350px;
    width: 100%;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.5rem;
    padding-top: 0.5rem;
    gap: 0.5rem;

    .user-details {
      display: flex;
      gap: 1rem;

      .profile-pic {
        img {
          width: 4.5rem;
          border-radius: 50%;
        }
      }
      .username-followetails {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        .follow-details {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          text-align: center;
        }
      }
    }
    .posts {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.2rem;

      .post {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.75rem;
        background-color: #222;
        //border-radius: 1rem;

        .top {
          display: flex;
          gap: 0.5rem;
          align-items: center;

          .profile-pic {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid rgba(255, 0, 0, 0);
            background: conic-gradient(
                from 45deg,
                rgb(255, 102, 0),
                rgb(105, 0, 128),
                rgb(255, 102, 0)
              )
              border-box;
            border-radius: 50%;
          }
          img {
            width: 2.5rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
          }

          h3 {
            font-size: 1.25rem;
            font-weight: 400;
          }
        }
        .image {
          border-radius: 1rem;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .bottom {
          .icons {
            display: flex;
            justify-content: space-between;
            .left-icons {
              display: flex;
              gap: 0.5rem;

              .like {
                color: red;
              }
            }
          }

          .caption {
            .caption-by {
              font-weight: 600;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}
