main {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    border: 1px solid white;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    border-radius: 1.5rem;
    background-color: gray;
    color: black;

    h1 {
      color: red;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input,
      button {
        padding-inline: 1.5rem;
        padding-block: 1rem;
        min-width: 300px;

        border-radius: 1.5rem;
        border: none;
      }

      button {
        background-color: red;
        color: white;
        font-size: large;
        font-weight: 600;
        cursor: pointer;
      }
      button:active {
        scale: 0.95;
      }
    }

    .toggleAuthForm {
      text-decoration: none;
      color: red;
    }
  }
}
