@mixin flex-colume($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

main {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .form-container {
    align-items: center;
    @include flex-colume(2rem);
    border: 1px solid white;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    border-radius: 1.5rem;
    background-color: gray;
    color: black;

    h1 {
      color: red;
    }

    form {
      @include flex-colume(1rem);
      input,
      button {
        padding-inline: 1.5rem;
        padding-block: 1rem;
        min-width: 300px;

        border-radius: 1.5rem;
        border: none;
      }

    }

    .toggleAuthForm {
      text-decoration: none;
      color: red;
    }
  }
}
